In [23]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [24]:
import numpy as np
import pandas as pd

In [25]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [26]:
engine = create_engine("sqlite:///blackfriday.sqlite")

In [27]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [28]:
# We can view all of the classes that automap found
Base.classes.keys()

['blackfriday']

In [29]:
# Save references to each table
Blackfriday = Base.classes.blackfriday

In [30]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [31]:
# How many cities are available in this dataset?
session.query(func.count(Blackfriday.city_category)).all()

[(147936)]

In [32]:
# occupations in descending order
session.query(Blackfriday.occupation, func.count(Blackfriday.occupation)).\
    group_by(Blackfriday.occupation).order_by(func.count(Blackfriday.occupation).desc()).all()

[(4, 19889),
 (0, 18603),
 (7, 15788),
 (17, 12468),
 (1, 11983),
 (12, 9299),
 (20, 8140),
 (14, 7411),
 (2, 6627),
 (16, 6488),
 (6, 5168),
 (3, 4472),
 (10, 3850),
 (15, 3512),
 (5, 3456),
 (11, 2882),
 (19, 2143),
 (13, 1809),
 (18, 1786),
 (9, 1675),
 (8, 487)]

In [33]:
session.query(Blackfriday.age, Blackfriday.occupation).group_by(Blackfriday.age).all()

[('0-17', 10),
 ('18-25', 12),
 ('26-35', 4),
 ('36-45', 9),
 ('46-50', 1),
 ('51-55', 0),
 ('55+', 7)]

In [34]:
session.query(Blackfriday.age,Blackfriday.purchase, Blackfriday.occupation).group_by(Blackfriday.age).all()

[('0-17', 10051, 10),
 ('18-25', 2138, 12),
 ('26-35', 15496, 4),
 ('36-45', 8390, 9),
 ('46-50', 5229, 1),
 ('51-55', 15628, 0),
 ('55+', 6421, 7)]

In [35]:
# Perform a query to retrieve the data and precipitation scores
results = session.query(Blackfriday.age,, Blackfriday.occupation).filter(Blackfriday.purchase >= 10,000).all()

SyntaxError: invalid syntax (<ipython-input-35-5b2e1ec8bdf8>, line 2)